.title {
  color: #151717;
  margin: 20px 0;
  font-size: 27px;
  font-weight: 500;
}

.customer {
  padding: 25px 0;
  &__head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    color: #fff;
  }
  &__description {
    color: #fff;
    font-weight: 300;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 20px 0 0 0;
  }
}
