@import '../../../styles/colors.scss';
.why_us {
  padding: 20px 0;

  &__title {
    margin: 20px 0;
    font-size: 36px;
    line-height: 40px;
    font-weight: 500;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    border: 1px solid $text-color;
    border-radius: 8px;
    max-width: 422px;
    background: $white;

    &__title {
      text-align: center;
      background-color: $text-color;
      color: $white;
      border-radius: 5px 5px 0 0;
      padding: 5px;
      font-size: 20px;
      font-weight: 400;
      line-height: 36px;
    }

    &__image {
      margin: 20px auto;
      max-width: 79px;
    }

    &__description {
      text-align: center;
      padding: 0 10px;
      color: $black;
      font-size: 14px;
      line-height: 36px;
    }
  }
}
